body {
   #background-color: #DCDCDC;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 140px;
    margin-top: 40px;
}


#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}


input[type=text], input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width:20%;
    display:block;
    text-align: middle;
}

input[type=hidden] {
 display:none
}

input[type=button], input[type=submit] {
   # background-color: #4CAF50;
   background-color: #333333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 6px;
    cursor: pointer;
    margin-right: : 65px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #333333;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


.adding {
    text-align: center;
}


.log1{
 margin-left: 800px;
}

.log2{
 margin-left: 870px;
 padding-top: 20px;
}

.log3{
 margin-left: 1050px;
}

.log5{
 margin-left: 1200px;
}

.log4{
 margin-left: 970px;
}

main img
{
    /* constrain images on small screens */
    max-width: 250px !important;
    height: 250px !important;
    border: 3px solid rgba(0, 20, 20, 0.8);
}

/* ########### animation navbar icon ################*/
button{
    cursor: pointer;
}

/*################## table ######################*/

.edit{
    background-color:rgb(255, 255 , 255);
    color:rgb(0, 20 , 20);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    width: 68%;
    font-weight: 800;
}
.edit:hover{
    background-color:rgba(0, 20 , 20, 0.8);
    color:#fff;
}
.img__wrap {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 20 , 20, 0.8);
}
.overlay:hover {
  opacity: 1;
  cursor:pointer;
}

label {
   cursor: pointer;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}



p {font-size: 36px;
   font-family: sans-serif;
   }
.blue{color: blue;}
.rosso{color:red;}
.grigio{color:grey;}
.oro{color:gold;}
.fucsia{color:fuchsia;}
.verde{color:green;}
.giallo{color: yellow;}
.rosa{color:pink;}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}


####################################

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}