<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
    <title>Registration</title>
</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>
<!--
<form th:action="@{/addCompany}" th:object="${newCompany}" method="post">
    name: <input type="text" th:field="*{name}" />
    username: <input type="text" th:field="*{username}" />
    password: <input type="text" th:field="*{password}" />
    email: <input type="text" th:field="*{email}" />
    <button type="submit">Submit</button>
</form>
-->
<br>
<br>
<br>
<!--
<center>
    <div>
        <h1>Company Registration</h1>
        <form th:action="@{/addCompany}" th:object="${newCompany}" th:method="post">
            name: <input type="text" th:field="*{name}" />
            username: <input type="text" th:field="*{username}" />
            password: <input type="password" th:field="*{password}" />
            email: <input type="text" th:field="*{email}" />
            <input type="submit" value="Add Company">
        </form>
    </div>
</center>
-->
<form th:action="@{/addCompany}" th:object="${newCompany}" th:method="post" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" th:field="*{name}" required>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" th:field="*{username}" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" required>


        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" th:field="*{email}" required>

<center>
    <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
    </div>
</center>

    </div>
</form>


<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>