<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
    <title>Edit</title>
</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<br>
<br>
<br>
<br>
<br>
<center>
    <div>
        <form th:action="@{/edit}"  th:method="post" enctype="multipart/form-data">
            <p><input type="file" name="file" ></p>
            name: <input type="text" name="name" autofocus="autofocus" th:value="${p.name}"/>
            email: <input type="text" name="email" th:value="${p.email}"/>
            github: <input type="text" name="github" th:value="${p.github}"/>
            phone: <input type="text" name="phone" th:value="${p.phone}"/>
            address: <input type="text" name="address" th:value="${p.address}"/>
            specialization: <input type="text" name="specialization" th:value="${p.specialization}"/>
            <input type="submit" value="Update">
        </form>
    </div>
</center>
<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>