<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
     >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
    <title>Participant</title>
</head>
<body>

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>
<br>
<br>
<br>
<br>
<br>
<!--
<h1><span th:text="${loggedCompanyName}">Lidia</span></h1>
<h1><span th:text="${loggedAdminName}">Lidia</span></h1>
-->
<br>
<center>
    <div>
        <h3 th:if="${#lists.isEmpty(allList)}">Welcome in Profile App</h3>
    </div>
</center>



<center>
    <div>
        <table id="customers" th:if="${not #lists.isEmpty(allList)}" align="center" th:each="list : ${allList}">
            <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>phone</th>
                <th sec:authorize="hasAuthority('USER')">address</th>
                <th>specialization</th>
                <th sec:authorize="hasAuthority('ADMIN')">companies that interested</th>
                <th sec:authorize="hasAuthority('USER')">Interested</th>
               <!-- <th sec:authorize="hasAuthority('USER')">dislike</th> -->
                <th sec:authorize="hasAuthority('ADMIN')">edit</th>
                <th sec:authorize="hasAuthority('ADMIN')">delete</th>
                <th>profile</th>
                <th>picture</th>
            </tr>
            </thead>
            <tbody>
            <h2 style="text-align: center">The Participants of refugees<span style="color:red">{code}</span></h2>
            <h4>coding school for integration</h4>
            <tr th:each="list : ${allList}">
                <td th:text="${list.name}">name</td>
                <td th:text="${list.email}">email</td>
                <td th:text="${list.phone}">phone</td>
                <td th:text="${list.address}" sec:authorize="hasAuthority('USER')">address</td>
                <td th:text="${list.specialization}">specialization</td>

                <!--th:disabled="${!list.dislike}"-->
                <form th:unless="${interestedParticipants.contains(list)}" th:action="@{/like}" th:method="post" sec:authorize="hasAuthority('USER')">
                     <td style="display:none"><input type="text" name="id" th:value="${list.id}"/></td>
                     <td><input type="submit"  value="I'm Interested"></td>
                 </form>

                <form th:if="${interestedParticipants.contains(list)}" th:action="@{/dislike}" th:method="post" sec:authorize="hasAuthority('USER')">
                   <!-- <td style="display:none"><input type="text" name="idCompany" th:value="${list.showCompanyId()}"/></td>-->
                    <td style="display:none"><input type="text" name="id" th:value="${list.id}"/></td>
                    <td><input type="submit"  value="I'm not Interested"></td>
                </form>

                <form th:action="@{/update}" th:method="post"  sec:authorize="hasAuthority('ADMIN')">
                    <td style="display:none"><input type="text" name="id" th:value="${list.id}"/></td>
                    <td><input type="submit" value="Edit" ></td>
                </form>
                <form class="adding" th:action="@{/delete}" th:method="post" sec:authorize="hasAuthority('ADMIN')">
                    <td style="display:none"><input type="text" name="id1" th:value="${list.id}"/></td>
                    <td><input type="submit" value="Delete"></td>
                </form>

                <form th:action="@{/profile}" th:method="post">
                    <td style="display:none"><input type="text" name="idParticipant" th:value="${list.id}"/></td>
                    <td><input type="submit" value="Profile" ></td>
                </form>
                <td><img  th:src="@{${'/images/' + list.image}}" height="150px" width="220px" /> </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>

<br>
<br>

<!--<h3>Interested participants</h3>-->
<!--<ul>-->
    <!--<li th:each="interested : ${interestedParticipants}" th:text="${interested.name}">Guillermo</li>-->
<!--</ul>-->


<!--
<center>
    <div>
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</center>
-->

<object th:include="fragments/resources :: bottom" th:remove="tag"></object>
</body>
</html>